.comments {
  margin: 40px 0;
}

.comments h1 {
  font-size: 18px;
  font-style: 700;
}

.comment-item {
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-top: 15px;
  padding: 10px;
}

.comment-item p {
  padding: 10px 0;
}
