.footer {
  margin: 50px auto 0 auto;
  border-top: 1px solid #ddd;
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

.footer li {
  margin: 15px 10px 30px 10px;
  font-size: 14px;
  color: #aaa;
}
