.navbar {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  margin: auto;
  padding: 20px 0;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.user-image-small {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.user-info-thumb {
  display: flex;
  align-items: center;
  margin-right: 5px;
  font-family: sans-serif;
}

.navbar * {
  padding: 0 5px;
}
