.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  margin: auto;
  padding: 20px 30px 10px 30px;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar * {
  padding: 0 5px;
}
