.session-form-modal {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 260px;
  margin: auto;
  margin-top: 15%;
  padding: 2%;
  background: #FFFFFF;
}

.session-form {
  // border: 1px solid grey;
  width: 80%;
  margin: 0 auto;
}

// asterisk selector matches each child
.session-form * {
  margin-bottom: 10px;
}

input[type=text], input[type=password] {
  border: 1px solid lightgrey;
  height: 30px;
}

// TODO this button styling needs to be factored out!
.login-form-button, .story-publish-button {
  color: #FF3399;
}

.demo-login-button {
  color: orange;
  margin-left: 10px;
}

.session-errors {
  padding-top: 10px;
  color: orange;
}
