// Place all the styles related to the Api::Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//************ StoryIndex styles ***************************************
.stories-index {
  width: 70%;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
}

//************ StoryIndexThumb styles **********************************
.story-thumb-box {
  flex-grow: 1;
  flex-basis: 360px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  height: 220px;
  padding: 2%;
  margin: 1%;
  position: relative;
}

.story-thumb-box h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
}

.story-thumb-box .user-thumb {
  position: absolute;
  bottom: 5%;
}

//************ ShowStory styles ****************************************
.story-wrapper {
  width: 60%;
  margin: 5% auto;
  padding: 10px;
}

.story {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgba(0,0,0,.8);
  line-height: 1.4;
}

.story-wrapper * {
  padding: 5px 0;
}

.story h2 {
  font-size: 30px;
}

.story h3 {
  font-size: 20px;
  color: rgba(0,0,0,.54);
  margin-bottom: 12px;
}

.story p {
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
  // white-space: pre-line honors line breaks coming form text area input
  white-space: pre-line;
}

.story p a, .comment-item p a {
  // text-decoration: underline;
  background: honeydew;
  font-size: smaller;
}

.story-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.story-info .edit-links * {
  padding-left: 5px;
}

.story-info .edit-links *:hover {
  color: orange;
}

//************ StoryForm styles ****************************************
.story-form {
  width: 100%;
  margin: 5% auto;
  padding: 10px;
}

.story-form * {
  margin: 5px;
  padding: 5px;
}

.story-form .session-errors, .story-form ul {
  padding: 0;
}

.story-form ul {
  margin-left: 0;
}

// greenish color for backgorund #e2f9e8;
// light yellow #ffd
.story-form *:hover {
  background: #e2f9e8;
}

.story-form textarea {
  width: 90%;
  min-height: 400px;
}

.story-form-input-title {
  width: 90%;
  font-size: 30px;
}

.story-form-input-description {
  width: 90%;
  font-style: italic;
}
