
@media only screen and (min-width:500px){
  // .main-content wraps around .story, .user-profile, and .story-form,
  // not .stories-index though
  .main-content {
    width: 60%;
    max-width: 760px;
    min-width: 400px;
    margin: 8%  auto;
  }

  .navbar * {
    padding: 0 5px;
  }
}

@media only screen and (max-width:499px){
  // .main-content wraps around .story, .user-profile, and .story-form,
  // not .stories-index though
  .main-content {
    width: 90%;
    min-width: 300px;
    margin: 6% auto;
  }

  .stories-index {
    width: 90%;
    margin: 8% auto;
  }

  .story-thumb {
    margin-bottom: 16px;
  }

  .navbar {
    padding: 20px 40px 10px 40px;
    display: block;
  }

  .navbar nav {
    justify-content: space-between;
  }

  .story-form {
    width: 100%;
  }
}
